

@font-face {
    font-family: "Raleway";
    src: url("fonts/Raleway-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Oswald";
    src: url("fonts/Oswald-Light.ttf") format("truetype");
}

@keyframes yourAnimation {
    0% {
        opacity: 0;
    }

    15% {
        
        opacity: 1;
    }

    100% {
        opacity: 1;
        
    }
}


html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.firstp {
    margin: auto;
    height: 100%;
    width: 100%;
    background: url(images/contact.jpg);
    display: table;
    background-size: cover;
    background-attachment: fixed;

}

    .firstp .inner {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        max-width: none;
    }

.content1 {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

    .content1 h1 {
        animation: yourAnimation 5s none 1s linear;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;/*Permet de s'arrêter à la dernière key de l'animation */
        opacity:0;/*car delay, sinon commence à 1 */
        font-family: 'Raleway', sans-serif;
        color: whitesmoke;
        text-shadow: 0px 0px 300px #000;
        font-size: 500%;
    }

.btn {
    border-radius: 9px;
    font-family: Oswald, sans-serif;
    color: #036A81;
    padding: 10px 20px;
    border: solid #036A81 3px;
    text-transform: uppercase;
    text-decoration: none;
}

    .btn:hover {
        color: #fff;
        border: solid #fff 3px;
    }

/*footer in a flex box */
footer {
    display: flex;
    height: 35vh;
    flex-direction: row;
    background-color: rgb(39, 37, 37);
}
    footer ul,
    li {
        list-style-type: none;
    }
.flex-parent-ft {
    display: flex;
    max-width: 100%;
    flex-grow: 1;
    height: 100%;
    padding: 5% 5%;
    background-color: rgb(39, 37, 37);
}
.flex-child-ft1 {
    font-family: Oswald, sans-serif;
    font-size: 90%;
    padding-top: 3%;
    margin: 0 0px;
    width: 20%;
    color: #ffffff;
}
    .flex-child-ft1 img {
        max-width: 25%; /* you can use % */
        height: auto;
        padding: 2%;
    }
.flex-child-ft1 {
    font-family: Oswald, sans-serif;
    font-size: 90%;
    padding-top: 3%;
    margin: 0 0px;
    width: 25%;
    color: #ffffff;
}
