@import url("https://fonts.googleappis.com/css?family=Raleway");
@import url("https://fonts.googleappis.com/css?family=Oswald");
@keyframes yourAnimation{
    0%{
        opacity: 0;
        }
    12%{
        transform: rotate(xx);
        opacity: 1;
        }
    100%{
        transform: rotate(xx);
        opacity: 1;
        }
        
}
.content1 h1{
    animation: yourAnimation 3s none 1s linear;
    opacity:0;
    animation-fill-mode:forwards; 
    
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.firstp {
    margin: auto;
    height: 100%;
    width: 100%;
    background: url(images/contact.jpg);
    display: table;
    background-size: cover;
    background-attachment: fixed;
}

.firstp .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;

}

.content1 {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;

}

.content1 h1 {
    font-family: 'Raleway', sans-serif;
    color: whitesmoke;
    text-shadow: 0px 0px 300px #000;
    font-size: 500%;
}

.btn {
    border-radius: 9px;
    font-family: Oswald, sans-serif;
    color: #036A81;
    padding: 10px 20px;
    border: solid #036A81 3px;
    text-transform: uppercase;
    text-decoration: none;

}

.btn:hover {
    color: #fff;
    border: solid #fff 3px;

}

/*footer in a flex box */
footer {
    display: flex;
    height: 35vh;
    width:100%;
    flex-direction: row;
    vertical-align: middle;
    
  align-items: center;
    

}

footer ul,
li {
    list-style-type: none;
}
footer img{
    opacity:50%;
    padding: 0;
}



.flex-parent {
    display: flex;
    max-width: 100%;
    
    flex-grow:1;
    height: 100%;
<<<<<<< HEAD
    background: #130b0b;
    padding: 2%;
    
    
    
=======
    background-color: rgb(39, 37, 37)
    padding: 20px 20px;
    vertical-align: middle;
    align-items: center;
>>>>>>> 1822fd8c6a714ca8bf6df61fe7cf291005e30d5f
}
.flex-child1 {
    font-family: Oswald, sans-serif;
    font-size: 13px;
    padding-left: 1%;
    padding-top: 0;
    margin: 0 0px;
    max-width: 25%;
    
    
    color: #ffffff;
}
.flex-child {
    font-family: Oswald, sans-serif;
    font-size: 13px;
    padding: 1%;
    margin: 0 0px;
    max-width: 25%;
    
    color: #ffffff;
}