
.main{
    background-image: linear-gradient(darkgrey,grey,white);
}

.banner {
    display:grid;
    grid-template-columns: 30% 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px;
    grid-gap: 10px;
    background-image: linear-gradient(black,grey);
    position: sticky; /*banner not sticky*/
}

.banneritem {
    color: white;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
}
.banneritem a{
    text-decoration: none;
    color: white;
}


.mainimage{
    background-image: url("images/contact.jpg");
    height:500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.placeimage{
    display: grid;

    grid-template-columns: 1fr 1fr;
    background-image: url(images/building.png);
    height:500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

iframe{
    margin-top: 25px;
    margin-left: 25px;
}

.placetext{
   padding: 50px; 
   width: 400px;

}
.placetext p{
    background-color: antiquewhite;
    opacity:0.75;
    text-align: justify;
    display: block;
    font-size: 20px;
    padding: 10px;
    border-radius: 15px;

}
.placetext h2{
    background-color: antiquewhite;
    opacity:0.75;
    text-align: justify;
    display: block;
    font-size: 20px;
    padding: 10px;
    border-radius: 15px;
    margin-right: 275px;
>>>>>>> bc9f277615510c2cf62c4b369b7dc2d2c40d9b2d
}
