
body{
    background-color: rgb(39, 37, 37);
}

.main{
    background-image: linear-gradient(darkgrey,grey,white);
}


.navbar {
    overflow: hidden;
    background-color: rgb(39, 37, 37);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 300;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background: #ddd;
    color: black;
  }


.mainimage{
    margin-top: 17px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-image: url("images/server.jpeg");
    height:100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%); 
}
    .mainimage p{
        text-align: justify;
        background-color: rgb(39, 37, 37,0.8);
        margin-top: 200px;
        margin-left: 100px;
        padding: 10px;
        border-radius: 10%;
        color: white;
        height:250px;
    }
    
.placeimage{
    display: grid;

    grid-template-columns: 1fr 1fr;
    background-image: url(images/office.jpg);
    height:120vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0% 100%);
}

iframe{
    margin-top: 200px;
    margin-left: 25px;
    border: white;
    border-width: 3px;
}

.placetext{
   margin-top: 125px;
    padding: 50px; 
   width: 400px;
   margin-bottom: 20px;

}
.placetext p{
    background-color: antiquewhite;
    opacity:0.75;
    text-align: justify;
    display: block;
    font-size: 20px;
    padding: 10px;
    border-radius: 15px;

}
.placetext h2{
    background-color: antiquewhite;
    opacity:0.75;
    text-align: justify;
    display: block;
    font-size: 20px;
    padding: 10px;
    border-radius: 15px;
    margin-right: 275px;
}
